<!-- Modal -->
<div class="modal fade" id="filter-mobile" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Lorem Ipsum</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="filter-mobile__text">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </div>
                <div class="filter-mobile__blocks">
                    <div class="filter-mobile__block">
                        <div class="filter-mobile__block-title">Date:</div>
                        <div class="filter-mobile__block-content">
                            <div class="flatpickr filter-mobile__block-input" id="datePicker">
                                <a class="input-button" title="toggle" data-toggle>
                                    <svg viewBox="0 0 16 16" width="16"  class="flatpickr-icon">
                                        <use href="img/icons/calendar.svg#calendar"></use>
                                    </svg>
                                </a>
                                <input type="text"  placeholder="08/08/2022" data-input> <!-- input is mandatory -->
                            </div>
                        </div>
                    </div>
                    <div class="filter-mobile__block">
                        <div class="filter-mobile__block-title">Assigned to:</div>
                        <div class="filter-mobile__block-content">
                            <select class="form-control filter-mobile__select" multiple="multiple" placeholder="Please enter 2 or more characters">
                                <option>Madeline Tenny</option>
                                <option>Lawrence Harding</option>
                                <option>Willa Chavez</option>
                                <option>Wade Warren</option>
                                <option>Leslie Alexander</option>
                                <option>Robert Fox</option>
                                <option>Cameron Williamson</option>
                                <option>Jacob Jones</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-mobile__block">
                        <div class="filter-mobile__block-title">Followed by:</div>
                        <div class="filter-mobile__block-content">
                            <select class="form-control filter-mobile__select" multiple="multiple" placeholder="Please enter 2 or more characters">
                                <option>Madeline Tenny</option>
                                <option>Lawrence Harding</option>
                                <option>Willa Chavez</option>
                                <option>Wade Warren</option>
                                <option>Leslie Alexander</option>
                                <option>Robert Fox</option>
                                <option>Cameron Williamson</option>
                                <option>Jacob Jones</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-mobile__block">
                        <div class="filter-mobile__block-title">Excepteur sint occaecat cupidatat</div>
                        <div class="filter-mobile__block-content">
                            <div class="mb-2 d-flex align-items-center">
                                <input type="checkbox" class="form-check-input me-2" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Lorem ipsum dolor sit amet *</label>
                            </div>
                            <div class="mb-2 d-flex align-items-center">
                                <input type="checkbox" class="form-check-input me-2" id="exampleCheck2">
                                <label class="form-check-label" for="exampleCheck2">Lorem ipsum dolor sit amet *</label>
                            </div>
                            <div class="d-flex align-items-center">
                                <input type="checkbox" class="form-check-input me-2" id="exampleCheck3">
                                <label class="form-check-label" for="exampleCheck3">Lorem ipsum dolor sit amet</label>
                            </div>
                        </div>
                    </div>
                    <div class="filter-mobile__block">
                        <div class="filter-mobile__block-title">Add Comment</div>
                        <div class="filter-mobile__block-content">
                            <textarea name="comment" class="filter-mobile__block-textarea site-textarea w-100" rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white modal-footer__btn" data-bs-dismiss="modal">Cansel</button>
                <button type="button" class="btn btn-primary modal-footer__btn">Post</button>
            </div>
        </div>
    </div>
</div>