<div class="sidebar">
    <div class="sidebar__inner position-relative h-100">
        <div class="sidebar__logo">
            <a href="/">
                <img src="img/Logo.svg" alt="" title="logo">
            </a>
        </div>
        <div class="sidebar__nav">
            <div class="sidebar__nav-block first">
                <ul class="sidebar__nav-items">
                    <li class="sidebar__nav-item">
                        <a href="#" class="sidebar__nav-link">
                            <svg viewBox="0 0 24 24" width="24" class="sidebar__nav-icon">
                                <use xlink:href="img/icons/sparkles.svg#sparkles"></use>
                            </svg>
                            Dashboard
                        </a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a href="#" class="sidebar__nav-link">
                            <svg viewBox="0 0 24 24" width="24"  class="sidebar__nav-icon">
                                <use xlink:href="img/icons/check-circle.svg#check-circle"></use>
                            </svg>
                            Tasks
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar__nav-block">
                <div class="sidebar__nav-title">Marketing</div>
                <ul class="sidebar__nav-items">
                    <li class="sidebar__nav-item">
                        <a href="#" class="sidebar__nav-link">
                            <svg viewBox="0 0 24 24" width="24"  class="sidebar__nav-icon">
                                <use href="img/icons/user-circle.svg#user-circle"></use>
                            </svg>
                            Contacts
                        </a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a href="#" class="sidebar__nav-link">
                            <svg viewBox="0 0 24 24" width="24"  class="sidebar__nav-icon">
                                <use href="img/icons/pencil.svg#pencil"></use>
                            </svg>
                            Content
                        </a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a href="#" class="sidebar__nav-link">
                            <svg viewBox="0 0 24 24" width="24"  class="sidebar__nav-icon">
                                <use href="img/icons/photograph.svg#photograph"></use>
                            </svg>
                            Templates
                        </a>
                    </li>
                </ul>
            </div>

            <div class="sidebar__nav-block">
                <div class="sidebar__nav-title">Planning</div>
                <ul class="sidebar__nav-items">
                    <li class="sidebar__nav-item">
                        <a href="#" class="sidebar__nav-link">
                            <svg viewBox="0 0 24 24" width="24"  class="sidebar__nav-icon">
                                <use href="img/icons/globe.svg#globe"></use>
                            </svg>
                            Destintations
                        </a>
                    </li>
                    <li class="sidebar__nav-item active">
                        <a href="#" class="sidebar__nav-link">
                            <svg viewBox="0 0 24 24" width="24"  class="sidebar__nav-icon">
                                <use href="img/icons/search.svg#search"></use>
                            </svg>
                            Search Supply
                        </a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a href="#" class="sidebar__nav-link">
                            <svg viewBox="0 0 24 24" width="24"  class="sidebar__nav-icon">
                                <use href="img/icons/office-building.svg#office-building"></use>
                            </svg>
                            Suppliers
                        </a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a href="#" class="sidebar__nav-link">
                            <svg viewBox="0 0 24 24" width="24"  class="sidebar__nav-icon">
                                <use href="img/icons/briefcase.svg#briefcase"></use>
                            </svg>
                            Trips
                        </a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a href="#" class="sidebar__nav-link d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <svg viewBox="0 0 24 24" width="24"  class="sidebar__nav-icon">
                                    <use href="img/icons/user-group.svg#user-group"></use>
                                </svg>
                                Community
                            </div>
                            <svg viewBox="0 0 13 14" width="13">
                                <use href="img/icons/link.svg#link"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="sidebar__nav-block">
                <div class="sidebar__nav-title">Business</div>
                <ul class="sidebar__nav-items">
                    <li class="sidebar__nav-item">
                        <a href="#" class="sidebar__nav-link">
                            <svg viewBox="0 0 24 24" width="24"  class="sidebar__nav-icon fill">
                                <use href="img/icons/currency-dollar.svg#currency-dollar"></use>
                            </svg>
                            Commissions
                        </a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a href="#" class="sidebar__nav-link">
                            <svg viewBox="0 0 24 24" width="24"  class="sidebar__nav-icon">
                                <use href="img/icons/chart-bar.svg#chart-bar"></use>
                            </svg>
                            Reports
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="sidebar__footer">
            <div class="sidebar__nav-block">
                <ul class="sidebar__nav-items">
                    <li class="sidebar__nav-item">
                        <a href="#" class="sidebar__nav-link">
                            <svg viewBox="0 0 24 24" width="24"  class="sidebar__nav-icon">
                                <use href="img/icons/academic-cap.svg#academic-cap"></use>
                            </svg>
                            Training & Help
                        </a>
                    </li>
                    <li class="sidebar__nav-item">
                        <a href="#" class="sidebar__nav-link">
                            <svg viewBox="0 0 24 24" width="24"  class="sidebar__nav-icon">
                                <use href="img/icons/cog.svg#cog"></use>
                            </svg>
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>